<li>
  <span class="content">
  	
  <div class="question-main">

   <% #please refactor this with conditional css %>
   <% if question.answers.count > 0 %>
    <% if question.accepted_answer_id %>
      <div class="pickedanswer">
          <h4><%= question.answers.count %></h4>
          <h6>answers</h6>
      </div>
    <% else %>
      <div class="numanswer">
          <h4><%= question.answers.count %></h4>
          <h6>answers</h6>
      </div>
    <% end %>
   <% else %>
    <div class="noanswer">
        <h4><%= question.answers.count%></h4>
        <h6>answers</h6>
    </div>
   <% end %>



    <div class="question-element">
      <h3><%= link_to truncate(question.title, length: 80), question_path(question)%></h3>

        <span class="timestamp">
          <br><%= link_to question.user.username, question.user %> •
            <%= time_ago_in_words(question.created_at) %> ago • 
            <%= pluralize(question.impressionist_count, "view") %>
          </br> <!-- should be number of questions, number of views -->
        </span>
    </div>
  </div>


  </span>

</li>