<div class="container">
  <div class="span8">
	<br><h2>Edit your question</h2></br>


	    <%= form_for(@question) do |f| %>

	    <%= render 'shared/error_messages', object: f.object %>
 

	      <%= f.label :title, "Question title" %>
	      <%= f.text_field :title %>

	      <%= f.label :content, "Question content" %>
	      <%= f.text_area :content, class: "wysihtml5" %>

	      <%= f.submit "Edit question", class: "btn btn-large btn-primary" %>
	    <% end %>

  </div>

</div>
