<% provide(:title, @question.title) %>

<div class="container">

	<h1><%= @question.title %></h1>

	<p><%= @question.content %></p>

	<section>
		<% if(@user == current_user) %>
			<%= link_to "Edit your question", edit_question_path(@question) %>
		<% end %>
	</section>


	<section>question writer is <%= @user.username %></section>
	<section>current_user is <%= current_user.username %></section>

	<section><%= @list_of_users %></section>
	<section><%= @do_not_show_form %></section>

	<ol class="microposts">
		<%= render @answers %>
	</ol>

	<section>
		<% if(@question.user != current_user) and (@do_not_show_form == false) %>
			<%= render 'shared/answer_form' %>
		<% end %>
	</section>


</div>