<% provide(:title, @question.title) %>

<div class="container">
	<div class="span8">
		<span id="question-fonts">

			<h2><br>Q: <%= @question.title %></br></h2>
			<!-- p Views: <%= @view_count %> -->

			<p><%= @question.content.html_safe %></p>
			<br></br>
			<section>
				<% if(@user == current_user) %>
					<%= link_to "Edit your question", edit_question_path(@question) %>
				<% end %>
			</section>

		  	<p><h4><%= pluralize(@answers.count, "answer") %></h4></p> 
			<ol class="microposts">
				<%= render @answers %>
			</ol>

			<section>
				<% if(@question.user != current_user) and (@do_not_show_form == false) %>
					<%= render 'shared/answer_form' %>
				<% end %>
			</section>
		</span>	
	</div>
</div>