<% provide(:title, @question.title) %>

<div class="container">
	<div class="span8">
		<span id="question-fonts">

			<h2><br>
				<span id="letter-Q">Q:</span> <%= @question.title %>
			</br></h2>
			<!-- p Views: <%= @view_count %> -->

			<p id="question-content"><%= @question.content.html_safe %></p>
			<br></br>
			<section>
				<% if(@user == current_user) %>
					<%= link_to "Edit your question", edit_question_path(@question) %>
				<% end %>
			</section>
			
			<% if(@question.answers.count > 0) %>
		  		<p><h4><%= pluralize(@answers.count, "Answer") %></h4></p> 
	  		<% end %>
			<ol class="microposts">
				<%= render @answers %>
			</ol>

			<section class="answer-form">

				<% if current_user == nil %>
					Knowing the answer? <%= link_to("Sign in", signin_path) %> or <%= link_to("sign up", signup_path) %> to show the world your powess 
				<% end %>


				<% if(@question.user != current_user) and (@do_not_show_form == false) %>
					<h4>Your Answer</h4>
					<%= render 'shared/answer_form' %>
				<% end %>

			</section>
		</span>	
	</div>
</div>