<% provide(:title, 'Edit user') %>

<div class="container">

	<h1><center>Update your profile</center></h1>

	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(@user) do |f| %>

	   	  <%= render 'shared/error_messages', object: f.object %>

	      <%= f.label :username %>
	      <%= f.text_field :username %>

	      <%= f.label :email %>
	      <%= f.text_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Password confirmation" %>
	      <%= f.password_field :password_confirmation %>

	      <p><h1> </h1></p>

	      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	    <% end %>

	    <%= gravatar_for @user %>
	    <%= link_to "change", "http://gravatar.com/emails", :target => "_blank" %>
    	
	  </div>
</div>

</div>