<% provide(:title, @user.username) %>
<div class="container">


	<div class="row">
	  <!-- User stats -->
	  <aside class="span4">
	    <section>
	      <h1>
	      </br>
	        <%= gravatar_for @user %>
	        <%= @user.username %>
	      </h1>
	    </section>

	  </aside>

	  <!-- questions -->
	<div class="span6">
		<p></p>
		<h2 class="padded-top">My courses:</h2>
		<ol class="course-quick-list">
			<% @user.followed_courses.each do |course| %>
				<li><h5><%= course.heading %> - <%= link_to course.name, school_course_path(course.school, course) %></h5></li>
			<% end %>
		</ol>
		<br></br>
		<p><h2 class="padded-bottom">My recent questions:</h2></p>
		<ol class="question-quick-list">
			<% @user.questions.all(:limit => 5).each do |question| %>
				<li><h5><%= link_to question.title, question_path(question) %></h5></li>
			<% end %>
		</ol>
  	</div>	
</div>
