<div class="container">
	
	<h1><%= link_to "Find your school", "#" %></h1>
	<ol class="microposts">
		<li>
			<div class="school-shield">
				<div class="element">
				<%= image_tag("http://i1358.photobucket.com/albums/q770/school-questions/Pennnew2_zps39deaf9f.png") %>

			</div>
			<h3><%= link_to "University of Pennsylvania", school_path(1) %></h3>
		</li>

		<li>
			<div class="school-shield">
				<div class="element">
				<%= image_tag("http://i1358.photobucket.com/albums/q770/school-questions/1000px-Cornell_Sealsvg_zpsfb179fc8.png") %>

			</div>
			<h3><%= "Coming soon" %></h3>
		</li>

	    <li class="extra-padding">
			<div class="school-shield">
				<div class="element">
				<%= image_tag("http://i1358.photobucket.com/albums/q770/school-questions/1000px-ColumbiaNYUCoatsvg_zpsfd2a03ed.png") %>

			</div>
			<h3><%= "Coming soon" %></h3>
		</li>

	</ol>



		
	</div>


</div>
