<div class="container">

	<h2><center>New Course</center></h2>
	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for([@current_school, @course]) do |f| %>


	      <%= f.label :heading, "Course heading" %>
	      <%= f.text_field :heading, placeholder: "eg. 'PHYS 008' " %>


	      <%= f.label :name, "Course name " %>
	      <%= f.text_field :name, placeholder: "eg. 'Physics for Architects'" %>



	      <p><h1> </h1></p>

	      <%= f.submit "Create course", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>