<div class="container">
	<div class="span6">
	<h2>Add your class</h2>


	    <%= form_for([@current_school, @course]) do |f| %>

	      <p><h1> </h1></p>
	      <h3><%= f.label :heading, "Course heading" %></h3>

	      <p><%= f.text_field :heading, placeholder: "ex. PYSC 001" %></p>


	      <h3><%= f.label :name, "Course name " %></h3>

	      <p><%= f.text_field :name, placeholder: "ex. Intro to Psychology" %></p>



	      <p><h1> </h1></p>

	      <%= f.submit "Create course", class: "btn btn-large btn-primary" %>
	    <% end %>

	</div>
</div>