<div class="container">

		<h1><%= @course.heading %> - <%= @course.name %></h1>

		<div class="sort-nav">
			<ul>
				<li><h4><%= link_to "Latest", school_course_path(current_school, @course, order: 'latest') %></h4></li>
				<li><h4><%= link_to "Most Popular", school_course_path(current_school, @course, order: 'most_active') %></h4></li>
				<li><h4><%= link_to "Unanswered", "#" %></h4></li>
				<li class="right-ask"><h4><%= link_to "Ask Question", new_question_path(:course => @course.id) %></h4></li>
			</ul>
		</div>

		<br></br>


		<ol class="microposts">
			<%= render @questions %>
		</ol>


		<p><%= link_to "Back to ", school_courses_path(current_school) %><%= current_school.name %>'s courses</p>


</div>
